<nav class="navbar navbar-expand bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="\assets\logo.jpg" alt="Logo" width="50" height="50" class="d-inline-block align-text-top">
    </a>
    <a class="navbar-brand" href="#"[routerLink]="'/home'">Spring security </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <nav class="navbar bg-body-tertiary">
          <form class="container-fluid justify-content-start">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <button class="btn btn-sm btn-outline-secondary" type="button"[routerLink]="'/register'">Zarejestruj się</button>
              </li>
              <li class="nav-item" style="margin-left: 10px;">
                <button class="btn btn-sm btn-outline-secondary" type="button"[routerLink]="'/login'">Zaloguj się</button>
              </li>

            </ul>
          </form>
        </nav>
      </ul>
    </div>
  </div>
</nav>


